
:root {
    --cor-primaria: #183C63;
    --cor-secundaria: #3782d2;
    --cor-fundo: #ffffff;
    --cor-texto: #151428;
    --cor-contraste: #f3eef7;
    --cor-botao: #f9f9f9;

    --fonte-texto: 'Segoe UI', sans-serif;
}

* {
    transition: background-color 0.8s ease;
}

.tema-escuro {
    --cor-primaria: #A6CEFE;
    --cor-secundaria: #98caff;
    --cor-fundo: #0f172a;
    --cor-texto: #ffffff;
    --cor-contraste: #1e293b;
    --cor-botao: #151428;
}

.tema-escuro p {
    color: var(--cor-texto);
}

.tema-escuro header p {
    color: var(--cor-contraste);
    font-weight: 600;
}

.tema-escuro a {
    color: var(--cor-secundaria);
}

.tema-escuro button {
    border: none;
    background-color: var(--cor-botao);
    color: var(--cor-texto);
}

.tema-escuro article {
    background-color: #f7eeee0c;
}

.tema-escuro h2 {
    color: var(--cor-primaria);
}

.tema-escuro .artigo-autor {
    color: var(--cor-secundaria);
}

.tema-escuro .btn-tema-escuro {
    background-color: var(--cor-secundaria);
}

body {
    max-width: 100vw;
    font-family: var(--fonte-texto);
}

header {
    background-color: var(--cor-primaria);
    color: var(--cor-contraste);
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
    margin: 0 auto;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    margin: 16px;
    gap: 16px;
    padding: 16px;
    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
}

.artigo-autor {
    font-weight: bold;
}

.btn-tema-escuro {
    position: fixed;
    bottom: 16px;
    right: 16px;
    font-size: 32px;
    padding: 12px;
    background-color: var(--cor-primaria);
    border-radius: 50%;
}


@media screen and (min-width: 768px) {
    .botoes {
        display: flex;
    }

    .botao:first-child { 
        border-radius: 40px 0 0 0;
    }

    .botao:last-child {
        border-radius: 0 40px 0 0;
    }    
}

p {
    margin-top: 0;
}

.container > div {
    cursor: pointer;
    display: block;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}
  
footer a {
    margin: 20px;
    text-align: center;
}

footer p {
  margin-top: 2px;
  margin-top: 2px;
  font-size: 14px;
  text-transform: uppercase;
  font: bolder;

  background: linear-gradient(45deg, #0e0e0e, #10110f, #627166,#131b15);
  background-size: 400% 100%;
  animation: degrade 10s linear infinite alternate;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  outline: none;
}

@keyframes degrade {
  0%{
      background-position-x: 0%;
  }

  100%{
      background-position: 400%;
  }

p{
  font-size: 16px;
  color: rgb(18, 18, 18);
}

.texto{
    font-size: 30px;
    text-transform: uppercase;

    background: linear-gradient(45deg, #638ED1, #ff0000, #009688,#44E3D3);
    background-size: 400% 100%;
    animation: degrade 10s linear infinite alternate;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    outline: none;
}

@keyframes degrade {
    0%{
        background-position-x: 0%;
    }

    100%{
        background-position: 400%;
    }
}
